<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="technibits.com.pme">

    <application
        android:name=".alarmactivity.RemindMe"
        android:allowBackup="true"

        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base">
        <activity
            android:name="technibits.com.pme.activity.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/Login_activity_label"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="technibits.com.pme.activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="technibits.com.pme.activity.QuizActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <activity
            android:name="technibits.com.pme.activity.MainActivity_as"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="technibits.com.pme.activity.MainActivity" />


        </activity>
        <activity
            android:name="technibits.com.pme.activity.CreateAccountActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="technibits.com.pme.activity.MainActivity" />
        </activity>
        <activity
            android:name="technibits.com.pme.activity.DashboardActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="technibits.com.pme.activity.PerformanceActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="technibits.com.pme.activity.ReviewHisActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="technibits.com.pme.activity.PreviewActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="technibits.com.pme.activity.SettingActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <activity
            android:name="technibits.com.pme.alarmactivity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="technibits.com.pme.activity.ChangepasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="technibits.com.pme.activity.CreateAccountActivity" />
        </activity>
        <activity
            android:name="technibits.com.pme.alarmactivity.AddAlarmActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="technibits.com.pme.alarmactivity.SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/Alarm_Settings"
            android:screenOrientation="portrait" />

        <receiver
            android:name="technibits.com.pme.alarmactivity.AlarmSetter"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="technibits.com.pme.alarmactivity.AlarmReceiver"></receiver>

        <service android:name="technibits.com.pme.alarmactivity.AlarmService"></service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
