<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="technibits.com.pme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="technibits.com.pme.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="technibits.com.pme.activity.MainActivity"

            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.QuizActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="technibits.com.pme.activity.ModeActivity"
            android:label="@string/app_name"
            android:parentActivityName="technibits.com.pme.activity.MainActivity"></activity>

        <activity
            android:name="technibits.com.pme.activity.MainActivity_as"
            android:label="@string/app_name"
            android:parentActivityName="technibits.com.pme.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="technibits.com.pme.activity.MainActivity" />


        </activity>
        <activity
            android:name="technibits.com.pme.activity.CreateAccountActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.DashboardActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.GoogleplusActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.PerformanceActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.ReviewHisActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.PreviewActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="technibits.com.pme.activity.SettingActivity"
            android:label="@string/app_name"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

</manifest>
